.ContentError404{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 172px;
    height: 156px;
    color: white;
}
h1{
    font-size: 26px;
    font-weight: bold;
}
.NotFound{
    font-size: 18px;
}
.Ghost404{
    width: 73px;
    height: 73px;
    background-image: url("../assets/images/redGhost.png");
}