.ContentFullscreenMode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.GifContainerFull{
    background-image: url("../assets/images/redGhost.png");
}
.ContentFullscreenMode p{
    text-align: center;
}
.ContentFullscreenMode button{
    width: 100%;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}
.FullscreenButton{
    border-color: var(--borderColor);
    background-color: var(--borderColor);
}
.AnywayButton{
    border-color: black;
    background-color: transparent;
}

/* 230 Design */
@media (min-width: 320px) and (max-width: 374px){
    .ContentFullscreenMode{
        width: 296px;
        height: 226px;
    }
    .GifContainerFull{
        width: 50px;
        height: 50px;
    }
    .ContentFullscreenMode p, .ContentFullscreenMode button{
        font-size: 16px;
    }
    .ContentFullscreenMode button{
        height: 42px;
    }
}

/* 375 Design */
@media (min-width: 375px){
    .ContentFullscreenMode{
        width: 345px;
        height: 228px;
    }
    .GifContainerFull{
        width: 52px;
        height: 52px;
    }
    .ContentFullscreenMode p, .ContentFullscreenMode button{
        font-size: 18px;
    }
    .ContentFullscreenMode button{
        height: 44px;
    }
}

/* Desktop Design */
@media (min-width: 1210px){
    .ContentFullscreenMode{
        width: 484px;
        height: 412px;
    }
    .GifContainerFull{
        width: 70px;
        height: 70px;
    }
    .ContentFullscreenMode p{
        font-size: 32px;
    }
    .ContentFullscreenMode button{
        height: 80px;
        font-size: 28px;
    }
}