:root{
    --mobileValue: 4px;
    --desktopValue: 5px;
    --border: 2px solid var(--borderColor);
    --borderSection: var(--mobileValue) solid var(--borderColor);
    --borderSectionDesktop: var(--desktopValue) solid var(--borderColor);
    --borderJail: 2px solid var(--jailColor);
    --square: 5px;
    --coverDown: 0 0 5px 5px;
    --coverRight: 0 5px 5px 0;
    --coverUp: 5px 5px 0 0;
    --coverLeft: 5px 0 0 5px;
    --downLeft: 0 0 0 5px;
    --downRight: 0 0 5px 0;
    --upRight: 0 5px 0 0;
    --upLeft: 5px 0 0 0;
}
.ContentPlaying{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.GameBoard{
    border-radius: 15px;
}
.GameBoard section{
    border-left: var(--borderSection);
    border-right: var(--borderSection);
}
.GameBoard section:first-child{
    border-top: var(--borderSection);
    border-radius: 15px 15px 0 0;
}
.GameBoard section:last-child{
    border-bottom: var(--borderSection);
    border-radius: 0 0 15px 15px;
}
.GameStatus{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.LifeContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.LevelStatus{
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cell{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Timer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
}
.Timer img{
    margin-right: 9px;
    height: 100%;
}